body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  color: #333;
}
header {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 2rem;
}
section {
  padding: 2rem;
}
footer {
  text-align: center;
  background: #222;
  color: white;
  padding: 1rem;
}
